<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="Login.js"></script>
</head>
<body>
<div class="d-flex justify-content-center">
    <div class="page-header"><h1>Site for Scrambling/Obfuscating URLs to Share</h1></div>
    <a href="https://github.com/tn16jv" target="_blank">Github</a>
</div>

<div class="d-flex justify-content-center">
    <div class="form-group">
        <form action="javascript:loginRequest();">
        <label for="usernameInput">Enter login details:</label>
        <input size="60" type="text" class="form-control" id="usernameInput" placeholder="username" required>
        <input size="60" type="password" minlength="8" class="form-control" id="passwordInput"  placeholder="password" required>
        <button class="btn btn-info" type="submit" id="loginButton">Login</button>
        <button class="btn btn-info" type="button" onclick="redirectToRegister()" id="registerButton">Register</button>
        </form>
    </div>
</div>
</body>
</html>